{% extends "@AnnoncesMain/n2.html.twig" %}
{%  if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block n3 %}
    {% block navig %}
        {% include '@AnnoncesMain/Default/Partials/light_menu.html.twig' %}
    {% endblock navig %}

    <!-- Template Niveau 3 -->
    <div class="row">
        <div class="home">
            {#<div class="titre_home">#}
                <h1 class="titre_home"> Nouvelle annonce </h1>
            <hr>
            {#</div>#}
        </div>

        {{ form_start(form) }}

        <div class="col-xs-6 col-md-4 col-lg-6 creat1">
            <div class="form-group">
                <span class="label-lg">{{ form_label(form.title)}}</span>
                <span class="help-block">Saisissez le titre de l'annonce.</span>
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
                {#<span class="help-block">Saisissez le titre de l'annonce.</span>#}
            </div>
            <div class="form-group">
                <span class="label-lg ">{{ form_label(form.description)}}</span>
                <span class="help-block">Entrez une description.</span>
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                <span class="label-lg">{{ form_label(form.price) }}</span>
                <span class="help-block">Indiquez le prix.</span>
                {{ form_errors(form.price) }}
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-6 creat2">
            <div class="form-group">
                <span class="label-lg">{{ form_label(form.category)}}</span>
                <span class="help-block">Choisissez la catégorie de votre annonce parmi :</span>
                {{ form_errors(form.category) }}
                {{ form_widget(form.category) }}
            </div>
            <div class="form-group">
                <span class="label-lg">{{ form_label(form.pictures)}}</span>
                {#<span class="help-block">Téléchargez une photo.</span>#}
                {{ form_errors(form.pictures) }}
                {{ form_widget(form.pictures) }}
            </div>
        </div>


            {{ form_end(form) }}



        <!-- Fin Template Formulaire -->
        <!-- Si le visiteur n'est pas identifié -->
        <!-- <p>Merci de vous<a href="#"> indentifier</a>  pour poster vos dessins !</p> -->
    </div><!-- Fin Template Niveau 3 -->
{% endblock n3 %}