{%  extends "@AnnoncesMain/n2.html.twig" %}
{% block n3 %}
    {% block navig %}
        <!-- Template menu principal -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('annonces_main_homepage') }}">Mes Bonnes Annonces</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('annonces_main_homepage') }}">Annonces</a></li>
                        {#<li><a href="{{ path('annonces_main_creation') }}">Poster une annonce</a></li>#}
                        {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                        {#{%  for categorie in categories %}#}
                        {#<li><a href="{{ path('annonces_main_liste_par_categorie',{'id': categorie.id}) }}">{{ categorie.name }}</a></li>#}
                        {#{% endfor %}#}
                        {#</ul>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-small" href="#">Se connecter</a>
                        </li>
                        <li>
                            <a href="#">S'inscrire</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav><!-- Fin Template menu principal -->
    {% endblock navig %}
<!-- Template Niveau 3 -->
<div class="row">
    <div class="home">
        <h1 class="titre_home"> L'annonce en détail </h1>
        <hr>
    </div>
    <div class="">
        <h1>{{ annonce.title }}</h1>
        <h4>Postée le {{ annonce.createdAt | date('d-m-Y')  }} par </h4>
    </div><!-- annonce_detail -->
    <div class="row annonce_detail">
        {#<div class="annonce_detail">#}
            {#<h1>{{ annonce.title }}</h1>#}
            {#<h4>Postée le {{ annonce.createdAt | date('d-m-Y')  }} par </h4>#}
        <div class="col-lg-6 image_350 vignette">
            {% for picture in annonce.pictures %}
                <img src="{{ asset(picture.path) }}" alt="">
            {% endfor %}
        {#</div>#}
        {#<div class="col-lg-6">#}
            <p>{{ annonce.description }}</p>
            <h2>Prix : {{ annonce.price }} €</h2>
        </div>
        {#</div><!-- annonce_detail -->#}

        <div class="col-lg-offset-2 milieu"></div>

        <div class="col-lg-4">
            <div>
                <h4 class="titre-reponse">Intéressé ? Laissez-nous un message :</h4>
            </div>
        {{ form_start(form) }}

        {#<div class="reponse col-lg-4 creat1">#}
        {#<div class="col-lg-4">#}
            {#<div class="col-xs-6 col-md-4 col-lg-6 creat1">#}
                <div class="form-group">
                    <span class="label-lg">{{ form_label(form.email)}}</span>
                    <span class="help-block">Saisissez votre adresse email.</span>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    {#<span class="help-block">Saisissez le titre de l'annonce.</span>#}
                </div>
                <div class="form-group">
                    <span class="label-lg">{{ form_label(form.name)}}</span>
                    <span class="help-block">Entrez votre nom.</span>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    <span class="label-lg">{{ form_label(form.firstname)}}</span>
                    <span class="help-block">Entrez votre prénom.</span>
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="form-group">
                    <span class="label-lg">{{ form_label(form.phone) }}</span>
                    <span class="help-block">Indiquez votre n° de téléphone.</span>
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>
                <div class="form-group">
                    <span class="label-lg">{{ form_label(form.message) }}</span>
                    <span class="help-block">Votre message.</span>
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
            {#</div>#}
            {{ form_end(form) }}
            {#<a class="btn btn-primary" href="">Répondre à l'annonce</a>#}
        </div>
    </div>

</div><!-- row -->
{% endblock n3 %}