{%  extends "@AnnoncesMain/n2.html.twig" %}
{% block n3 %}
    {% block navig %}
        <!-- Template menu principal -->
        {% include '@AnnoncesMain/Default/Partials/full_menu.html.twig' %}

    {% endblock navig %}
    <!-- Template Niveau 3 -->
    <div class="row">
        <div class="home">
            <h1 class="titre_home"> Les annonces </h1>
            <hr>
        </div>

    {% if annonces is empty %}
        <h3>il n'y a pas d'annonces dans cette catégorie</h3>
    {% endif %}
        <!-- Boucle for -->
    {%  for annonce in annonces %}
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-6 creat1">
            {#{{ dump(annonce.pictures[0].path) }}#}
                <div class="annonce">
                    <p>{{ annonce.title }}</p>
                    <span class="date_annonce">Annonce postée le : {{ annonce.createdAt | date('d-m-Y')  }}</span>
                </div>
                <div class="col-xs-4 ">
                    <a class="image_200" href="{{ path('annonces_main_details', {'id': annonce.id}) }}">
                        <img  src="{{ asset(annonce.pictures[0].path) }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-6 creat2">
                    <p id="descript_xs">{{ annonce.description }}</p>
                <div class="valid">
                    <a class="btn btn-primary pull-right" href="{{ path('annonces_main_details', {'id': annonce.id}) }}">En savoir plus</a>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
        <!-- Fin boucle For -->
    </div><!-- div.row -->

{% endblock n3 %}