{% extends "@AnnoncesMain/n2.html.twig" %}
{%  if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block n3 %}
    {% block navig %}
        <!-- Template menu principal -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('annonces_main_homepage') }}">Mes Bonnes Annonces</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('annonces_main_homepage') }}">Annonces</a></li>
                        {#<li><a href="{{ path('annonces_main_creation') }}">Poster une annonce</a></li>#}
                        {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                        {#{%  for categorie in categories %}#}
                        {#<li><a href="{{ path('annonces_main_liste_par_categorie',{'id': categorie.id}) }}">{{ categorie.name }}</a></li>#}
                        {#{% endfor %}#}
                        {#</ul>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-small" href="#">Se connecter</a>
                        </li>
                        <li>
                            <a href="#">S'inscrire</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav><!-- Fin Template menu principal -->
    {% endblock navig %}

<!-- Template Niveau 3 -->
<div class="row">
    <div class="home">
        {#<div class="titre_home">#}
        <h1 class="titre_home"> Répondre à l'annonce </h1>
        <hr>
        {#</div>#}
    </div>
</div>

{% endblock n3 %}