<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('annonces_main_homepage') }}">Mes Bonnes Annonces</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="active"><a href="{{ path('annonces_main_espaceperso') }}">Annonces</a></li>
                    <li><a href="{{ path('annonces_main_creation') }}">Poster une annonce</a></li>
                {% else %}
                    <li class="active"><a href="{{ path('annonces_main_homepage') }}">Annonces</a></li>
                {#{% if is_granted("ROLE_USER") %}#}
                    {#<li><a href="{{ path('annonces_main_creation') }}">Poster une annonce</a></li>#}
                {% endif %}
            </ul>

            {% if is_granted('ROLE_USER') %}
                <p class="navbar-text navbar-right">
                    <span class="text-primary">Bienvenue {{ app.user.firstname }} {{ app.user.username }}</span>
                    <a class="disconnect" href="{{ path('fos_user_security_logout') }}">Quitter</a>
                </p>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-small" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    </li>
                </ul>
            {%  endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>